\documentclass[10pt, letterpaper]{article}

% --- Packages ---
\usepackage[ignoreheadfoot, top=1.8cm, bottom=1.8cm, left=1.8cm, right=1.8cm, footskip=1.0cm]{geometry}
\usepackage{titlesec, tabularx, array, xcolor, enumitem, amsmath}
\usepackage[
    pdftitle={ {{ name }} Resume },
    pdfauthor={ {{ name }} },
    pdfcreator={LaTeX with Python},
    colorlinks=true,
    urlcolor=primaryColor
]{hyperref}
\usepackage[pscoord]{eso-pic}
\usepackage{calc, bookmark, lastpage, changepage, paracol, ifthen, needspace, iftex, multicol}

% --- Color & Font ---
\definecolor{primaryColor}{RGB}{0, 79, 144}

% --- ATS friendly text settings ---
\ifPDFTeX
    \input{glyphtounicode}
    \pdfgentounicode=1
    \usepackage[utf8]{inputenc}
    \usepackage{lmodern}
\fi

% --- Styling ---
\pagestyle{empty}
\setlength{\parindent}{0pt}
\setlength{\columnsep}{0.2cm}
\renewcommand\labelitemi{--} % simple bullet for ATS

\titleformat{\section}{\large\bfseries\color{primaryColor}}{}{0em}{}[\titlerule]

\newenvironment{highlights}{\begin{itemize}[topsep=0.1cm,parsep=0.1cm,itemsep=0pt,leftmargin=0.4cm]}{\end{itemize}}
\newenvironment{onecolentry}{\begin{adjustwidth}{0.2cm}{0.2cm}}{\end{adjustwidth}}
\newenvironment{twocolentry}[1]{\begin{tabular*}{\linewidth}{@{\extracolsep{\fill}} l r }#1 &}{\end{tabular*}}

% --- Document Start ---
\begin{document}

% ---------------- Header ----------------
\begin{center}
    {\fontsize{20pt}{20pt}\selectfont \textbf{ {{ name }} }}\\[0.2cm]
    \footnotesize
    {% if location %} {{ location }} $\vert$ {% endif %}
    \href{mailto:{{ email }}}{{ email }} 
    {% if phone %} $\vert$ {{ phone }} {% endif %}
    {% if website %} $\vert$ \href{ {{ website }} }{ {{ website }} } {% endif %}
    {% if linkedin %} $\vert$ \href{ {{ linkedin }} }{ LinkedIn } {% endif %}
    {% if github %} $\vert$ \href{ {{ github }} }{ GitHub } {% endif %}
\end{center}

\vspace{0.2cm}

% ---------------- Summary ----------------
{% if summary %}
\section*{Professional Summary}
\begin{onecolentry}
    {{ summary }}
\end{onecolentry}
{% endif %}

% ---------------- Skills ----------------
{% if skills %}
\section*{Skills}
\begin{onecolentry}
    \begin{multicols}{3} % display horizontally
        \begin{itemize}[leftmargin=*]
        {% for skill in skills %}
            \item {{ skill }}
        {% endfor %}
        \end{itemize}
    \end{multicols}
\end{onecolentry}
{% endif %}

% ---------------- Experience ----------------
{% if experience %}
\section*{Experience}
{% for exp in experience %}
\begin{twocolentry}{\textit{% if exp.duration %}{{ exp.duration }}{% endif %}}
    \textbf{ {{ exp.title }} } \\ 
    \textit{ {{ exp.company }} }
\end{twocolentry}
\begin{onecolentry}
    \begin{highlights}
    {% for point in exp.description %}
        \item {{ point }}
    {% endfor %}
    \end{highlights}
\end{onecolentry}
{% endfor %}
{% endif %}

% ---------------- Education ----------------
{% if education %}
\section*{Education}
{% for edu in education %}
\begin{twocolentry}{\textit{% if edu.duration %}{{ edu.duration }}{% endif %}}
    \textbf{ {{ edu.institution }} } \\ 
    \textit{ {{ edu.degree }} }
\end{twocolentry}
{% endfor %}
{% endif %}

% ---------------- Projects ----------------
{% if projects %}
\section*{Projects}
{% for proj in projects %}
\begin{twocolentry}{}
    \textbf{ {{ proj.title }} }
\end{twocolentry}
\begin{onecolentry}
    \begin{highlights}
    {% if proj.description is string %}
        \item {{ proj.description }}
    {% else %}
        {% for point in proj.description %}
            \item {{ point }}
        {% endfor %}
    {% endif %}
    \end{highlights}
\end{onecolentry}
{% endfor %}
{% endif %}

% ---------------- Certifications ----------------
{% if certifications %}
\section*{Certifications}
\begin{onecolentry}
    \begin{itemize}[leftmargin=*]
    {% for cert in certifications %}
        \item {{ cert }}
    {% endfor %}
    \end{itemize}
\end{onecolentry}
{% endif %}

\end{document}
